<mat-toolbar>
    <span>{{ productService.form.controls['id'].value?"Ürün Düzenleme":"Yeni Ürün" }}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>
<form [formGroup]="productService.form" class="normal-form" #form="ngForm" (submit)="onSubmit(form)">
    <mat-grid-list cols="1" rowHeight="308px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="id">
                <mat-form-field>
                    <input formControlName="name" matInput placeholder="Ürün Adı">
                    <mat-error>Zorunlu alandır.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="description" matInput placeholder="Açıklama">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="price" matInput placeholder="Fiyat">
                </mat-form-field>
                <mat-form-field>
                        <mat-select formControlName="category" placeholder="Kategori">
                            <mat-option>Seç</mat-option>
                            <ng-container *ngFor="let category of productService.categories">
                                <mat-option value="{{category.$key}}">{{category.value}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <div class="button-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="productService.form.invalid">Kaydet</button>
                <button mat-raised-button color="warn" (click)="onClear()">Temizle</button></div>
              </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>