<!-- <div class="card-footer">  
    <div class="col-lg-12 table-responsive">  
        <button mat-raised-button  (click)="onCreate()">
            <mat-icon>add</mat-icon>Yeni
        </button>
        <table class="table table-striped">  
            <thead>  
                <tr>  
                    <th>Id</th>  
                    <th>ÜRÜN ADI</th>  
                    <th>AÇIKLAMA</th>  
                    <th>FİYAT</th>  
                    <th>İŞLEMLER</th>  
                </tr>  
            </thead>  
            <tbody>  
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>  
                    <td>{{product.name}}</td>  
                    <td>{{product.description}}</td>  
                    <td>{{product.price}}</td>  
                    <td>  
                        <button type="button" class="btn btn-primary mr-1">Düzenle</button>  
                        <button type="button" class="btn btn-danger mr-1" >Sil</button>  
                    </td>  
                </tr>  
            </tbody>  
        </table>  
    </div>  
</div>    -->
<div class="search-div">
  <button mat-raised-button  (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput  placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource"  matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Ürün</mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Açıklama</mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.description}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fiyat</mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.price}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>İşlemler</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="onDelete(row.$key)"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Veriler yükleniyor...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Kayıt bulunamadı.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" aria-label="Kayıt Sayısı" showFirstLastButtons></mat-paginator>
</div>